<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Información de Contacto</h5>
                <p>Dirección: Bda 5. Bugaba, Chiriquí</p>
                <p>Teléfono: +507 6619-4728</p>
                <p>Correo Electrónico: jorge.centeno@floppyfilms.com</p>
            </div>
            <div class="col-md-6">
                <h5>Síguenos en Redes Sociales</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-youtube"></i> YouTube</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-tiktok"></i> TikTok</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; 2021-{{ year }} lottoluck. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
